#
# Copyright (C) 2015 Gil Mendes <gil00mendes@gmail.com>
#

choice
    prompt "Plataforma"
    default PLATFORM_BIOS if ARCH_X86

config PLATFORM_EFI
    bool "EFI"
    depends on ARCH_X86
    select 64BIT
    help
        Target the EFI/UEFI PCs (MACs and new PCs).

config PLATFORM_BIOS
    bool "Standard PC"
    depends on ARCH_X86
    select 32BIT
    help
      Target the built system to x86 PCs with legacy BIOS.

endchoice

config PLATFORM
    string
    default "bios" if PLATFORM_BIOS
    default "efi" if PLATFORM_EFI
